$TILE_MAX_WIDTH: 250;
$TILE_MIN_WIDTH: 200;
$TILE_GUTTER: 10;
$GRID_MARGIN: 50;

@function minWidthFor($columns) {
  @return $TILE_MIN_WIDTH * $columns + $TILE_GUTTER * ($columns - 1) + $GRID_MARGIN * 2;
}

/* general spacing */

#outer_container {
  padding-top: 5rem;
  margin: 0 auto;
  width: 80vw;
}

#projects, #proj-blurb {
  padding-bottom:10px;
}

/* grid formatting */

#project_grid {
  display: grid;
  grid-gap: 10px;
  grid-gap: $TILE_GUTTER * 1px;
  grid-template-columns: repeat(2, 1fr);
}

.project_container {
  /*background-color: gray; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  background-size: 100%, 100%;
  position: relative;

  border-radius: 20px;
  padding: 20px;
}

.project_container > * {
  margin: 0px;
}

// .project_container:hover > .project_title {
//  color: var(--accent_color);
//  background-color: white;
// }

// .project_container:hover > .tag_container > * {
//  color: var(--accent_color);
//  background-color: white;
// }


.project_container:hover {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.tag_container {
  display: flex;  
  flex-wrap: wrap;
}

.tag_container > * {
  margin-right: 20px;
  margin-bottom: 5px;
  font-family: 'Source Code Pro', monospace;

  background-color: var(--accent_color);
  color: white;
  border-radius: 50px;
  padding: 2px 9px;
}

.project_title {
  align-self: flex-end;
  text-align: right;

  font-family: 'Source Code Pro', sans-serif;
  font-weight: 600;
  font-size: 22px;

  color: white;
    background-color: var(--accent_color);
    padding: 2px 13px 3px 13px;
    border-radius: 20px;
}

.project_title > * {
  background-color: unset !important;
}

@media screen and (min-width: minWidthFor(5) * 1px) {
  #outer_container{
    width: (minWidthFor(5) - $GRID_MARGIN * 2) * 1px;
  }
}

