/* general spacing */
#name {
  display: flex;
  align-items: center;
}

#project_grid {
  padding-bottom: 60px;
}

/* research formatting */
.research-image {
  background-image: url("../img/project_images/sos_hex.png");
  height: 10rem;
  width: 10rem;
  background-size: cover;
  border-radius: 15px;
  flex-shrink: 0;
  margin-right: 1em;
  background-color: #e6e7e7;
}

.research-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 30px;
}

.research-container:last-child {
  padding-bottom: 0px;
}

.research-title {
  font-size: 20px;
  line-height: 90%;
  font-family: "Source Code Pro", monospace;
  padding-bottom: 10px;
}

.author-note {
  font-size: 14px;
}

.links {
  padding-top: 15px;
}

.links > a {
  margin-right: 7px;
  font-family: "Source Code Pro", monospace;
  background-color: var(--accent_color);
  color: white;
  border-radius: 50px;
  padding: 2px 9px;
}

/* intro paragraph/footer */
/* two column redesign code */
#portrait {
  width: 100%;
  aspect-ratio: 0.75;
  outline: none;
  background-color: #EEE;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: 30rem;
  top: 0;
  bottom: 0;
  left: 0;
}

#main {
  margin-left: 30rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 7.5rem;
}

#sidebar-box {
  position: absolute;
  top: 5em;
  width: 65%;
  margin-left: 25%;
  margin-right: 10%;
}

#name {
  padding-top: 1rem;
  font-size: 1.5em;
  margin-bottom: 0.8em;
}

#news {
  background-color: rgba(var(--callout_color), 0.2);
  border-color: rgb(var(--callout_color));
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 1em;
  padding: 0.5em;
}

#info h2 {
  margin-top: 0.3em;
  font-size: 1.1em;
  margin-bottom: 0;
}

#email {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5em;
}

#mail {
  vertical-align: baseline;
  height: 16px;
}

#mail > * {
  stroke: var(--accent_color);
  stroke-width: 35px;
  fill: none;
}

.link_arrow {
  stroke: var(--accent_color);
  stroke-width: 50px;
  fill: none;
  height: 16px;
  margin-left: 8px;
}

#projects > .ext_link:hover .link_arrow {
  stroke: black;
  animation: blueblack 0.2s;
}

@keyframes blueblack {
  from {
    color: var(--accent_color);
  }
  to {
    color: black;
  }
}
/* make homepage responsive */
@media screen and (max-width: 1000px) {
  #sidebar {
    width: 40vw;
  }
  #main {
    margin-left: 40vw;
    margin-right: 10vw;
  }
}
@media only screen and (max-width: 920px) and (min-width: 500px) {
  #name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 700px) {
  .research-container {
    flex-direction: column;
    gap: 15px;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 500px) {
  #sidebar {
    position: relative;
    width: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  #sidebar-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    top: auto;
    position: relative;
    width: 100%;
    margin: 0;
  }
  #portrait {
    height: 60vw;
    width: auto;
    margin-right: 10px;
    object-fit: contain;
    object-position: left;
    width: fit-content;
  }
  #main {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1350px) {
  #main {
    padding-left: calc((100vw - 1040px) * 0.5 - 7.5rem);
    margin-right: calc((100vw - 1040px) * 0.5);
  }
  #sidebar {
    margin-left: calc((100vw - 1040px) * 0.5 - 7.5rem);
  }
}
@media only screen and (max-width: 1350px) and (min-aspect-ratio: 50/25) {
  #portrait {
    height: 50vh;
    width: auto;
    align-self: flex-end;
  }
}

/*# sourceMappingURL=homeStylesheet.css.map */
