@font-face {
    font-family: 'Linux Biolinum';
    src: url('LinBiolinumO.woff2') format('woff2'),
        url('LinBiolinumO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('LinBiolinumOI.woff2') format('woff2'),
        url('LinBiolinumOI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('LinBiolinumOB.woff2') format('woff2'),
        url('LinBiolinumOB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('LinLibertineOBI.woff2') format('woff2'),
        url('LinLibertineOBI.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('LinLibertineOI.woff2') format('woff2'),
        url('LinLibertineOI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('LinLibertineO.woff2') format('woff2'),
        url('LinLibertineO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('LinLibertineOB.woff2') format('woff2'),
        url('LinLibertineOB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

